
@model MinesweeperMilestone.Models.Cell

@{
    // data to pass over from the Index view
    bool isGameOver = (bool)@ViewData["isGameOver"];
    var cell = Model;
    var r = @ViewData["r"];
    var c = @ViewData["c"];
    var cellStyle = "width: 40px; height: 40px; display: block; border: none; padding: 0; text-decoration: none;";

    string imagePath = "";

    // Determine which image to show
    if (cell.isVisited)
    {
        if (cell.isBomb)
        {
            imagePath = "~/img/Minesweeper_Bomb.png";
        }
        else if (cell.numBombNeighbors > 0)
        {
            imagePath = $"~/img/Minesweeper_{cell.numBombNeighbors}.png";
        }
        else
        {
            imagePath = "~/img/Minesweeper_Empty.png";
        }
    }
    else
    {
        // If the game is over and this is a bomb, reveal it
        if (isGameOver && cell.isBomb)
        {
            imagePath = "~/img/Minesweeper_Bomb.png";
        }
        else if (cell.isFlagged)
        {
            imagePath = "~/img/Minesweeper_flag.png";
        }
        else
        {
            imagePath = "~/img/Minesweeper_unopened_square.png";
        }
    }

    // Render the cell
    if (cell.isVisited || isGameOver)
    {
        // Visited OR Game Over
        <div style="@cellStyle">
            <img src="@Url.Content(imagePath)" alt="Cell" style="width: 100%; height: 100%; display: block;" />
        </div>
    }
    else
    {
                // Active Game & Unvisited: Clickable link
        // when trying to change the link for the asp-action. It does take PartialPageCellUpdate page.
                <a asp-action="Visit" asp-route-row="@r" asp-route-col="@c" style="@cellStyle">
                    <img src="@Url.Content(imagePath)" alt="Unvisited Cell" style="width: 100%; height: 100%; display: block;" />
                </a>
     }

    /*  This should be used for the ajax stuff, but might be not correct 
    else
    {
        <div class="game-button" data-row="@r" data-col="@c" style="@cellStyle">
            <button class="cell-btn" type="button" data-row="@r" data-col="@c"
                    style="width:100%;height:100%;border:none;background:none;padding:0;">
                <img src="@Url.Content(imagePath)" alt="Unvisited Cell" style="width:100%;height:100%;display:block;" />
            </button>
        </div>
    }*/


}